<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Captain Oveur - {{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <div id="header_text">
          <h1 class="airstream"><a href="/">Captain Oveur</a></h1>
          <h2 class="forque"><a href="http://github.com/thoughtbot/clearance">Admins for Clearance, Clarence</a></h2>
        </div>
        <img src="peter-graves.jpg" width="300" height="202" alt="Peter Graves" id="the_captain">
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
      <div id='footer'><h2 class="forque"><a href="http://disruptive.github.com/">Created by Disruptive Ventures, Inc.</a></h2></div>
    </div>
  </body>
</html>